.icon-chevron-left,.icon-chevron-right,.icon-chevron-up,.icon-chevron-down,.icon-chevron-sign-left,.icon-chevron-sign-right,.icon-home,.icon-alarm,.icon-stopwatch,.icon-busy,.icon-pie,.icon-happy,.icon-happy2,.icon-smiley,.icon-smiley2,.icon-sad,.icon-sad2,.icon-grin,.icon-grin2,.icon-angry,.icon-angry2,.icon-neutral,.icon-neutral2,.icon-cancel-circle,.icon-checkmark-circle,.icon-close,.icon-checkmark,.icon-share,.icon-github,.icon-grid {
	display: inline-block; width: 24px; height: 24px; background-image: url(../images/icon.png);
	background-repeat: no-repeat; vertical-align: middle;
}
.icon-chevron-left {background-position: 0 0;}
.icon-chevron-right {background-position: -48px 0;}
.icon-chevron-up {background-position: -96px 0;}
.icon-chevron-down {background-position: -144px 0;}
.icon-chevron-sign-left {background-position: -192px 0;}
.icon-chevron-sign-right {background-position: -240px 0;}
.icon-home {background-position: -288px 0;}
.icon-alarm {background-position: -336px 0;}
.icon-stopwatch {background-position: -384px 0;}
.icon-busy {background-position: -432px 0;}
.icon-pie {background-position: -480px 0;}
.icon-happy {background-position: -528px 0;}
.icon-happy2 {background-position: -576px 0;}
.icon-smiley {background-position: -624px 0;}
.icon-smiley2 {background-position: -672px 0;}
.icon-sad {background-position: -720px 0;}
.icon-sad2 {background-position: 0 -48px;}
.icon-grin {background-position: -48px -48px;}
.icon-grin2 {background-position: -96px -48px;}
.icon-angry {background-position: -144px -48px;}
.icon-angry2 {background-position: -192px -48px;}
.icon-neutral {background-position: -240px -48px;}
.icon-neutral2 {background-position: -288px -48px;}
.icon-cancel-circle {background-position: -336px -48px;}
.icon-checkmark-circle {background-position: -384px -48px;}
.icon-close {background-position: -432px -48px;}
.icon-checkmark {background-position: -480px -48px;}
.icon-share {background-position: -528px -48px;}
.icon-github {background-position: -576px -48px;}
.icon-grid {background-position: -624px -48px;}
