html {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling:touch
}
body{overflow: hidden; background: #000;}

.app-box{position:absolute; left:0; top:0; width:100%; height: 100%;}
.app-box:after, .page-content:after {content: ""; display: block; height: 0; line-height: 0; visibility: hidden;}
.page-box{position:absolute; left:0; top:0; width:100%; height: 100%; display:none;}

.page-header{height: 50px; line-height: 50px; width: 100%; background-color: #FB5031; color: #FFF; text-align: center; border-radius: 10px 10px 0 0;}
.page-header a{position: absolute; left:10px; width: 40px; height: 40px; }
.page-header a:hover{}


.page-foot{position: relative; width: 100%; height: 60px; background-color: #FB5031; color: #FFF; text-align: center;}
.page-content{position: relative; width: 100%; overflow-y: auto; background-color: #e0e0e0;}

.menu{position: relative; width: 100%; text-align: center; z-index: 2}
.menu li{position: relative; display: inline-block; width: 80px; height: 50px; line-height:50px; cursor: pointer; margin-top: 5px; text-align: center; z-index: 2}
.menu li a{text-decoration: none; color:#000; font-size: 20px;}
.menu li.split{width: 0px; height: 45px; border-left: 1px solid #eB4021; border-right: 1px solid #FF5F3F; vertical-align: middle;}
.indicator{position: absolute; width: 89px; height: 55px; background-color: #F00; left:0; top:0; border-top: 5px solid #9545E5;}