@charset "utf-8";
/*===== 重置样式 =====*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{margin:0; padding:0;}
fieldset,img,button,input{border:0 none;}
input,select,button{font:normal 12px/1.5em Verdana, SimSun, Arial, Helvetica, sans-serif;}
select,button{cursor:pointer;}
table{border-collapse:collapse; border-spacing:0;}
ul,ol{list-style:none;}

html, body{width:100%; height:100%;}
body {font:18px "微软雅黑",helvetica,arial;	color:#333}

.clearfix {	*zoom:1}
.clearfix:after {
	display:block;
	clear:both;
	content:"\0020";
	visibility:hidden;
	height:0
}

.display-box {display:-moz-box;	display:-webkit-box; display:-ms-box; display:box;}

/*ui-mask*/
.ui-mask{position:fixed; left:0; top:0; width:100%; height:100%; z-index:9; background-color: rgba(0,0,0, 0.6);}

/*ui-dialog*/
.ui-dialog {position: fixed; z-index: 10; min-width:200px; min-height:100px; z-index:10; text-shadow: 0 1px 2px rgba(255,255,255, 0.7); }
.ui-dialog .tips-content{display:inline-block; background-color: #f5f5f5; font-size: 18px; color:#444; border-radius: 10px; box-shadow:0px 0px 20px rgba( 0, 0, 0, 0.7 ); width:96%; margin-left:2%; margin-right:2%; min-height:150px; text-align:center; padding-top:10px;}
.ui-dialog .btnArea{position: absolute; left:0; bottom:0; background-color:#c0c0c0;  border-radius: 0 0 10px 10px; width:100%; height:50px; line-height: 50px; font-size: 1.3em; box-shadow:0px 0px 20px rgba( 0, 0, 0, 0.7 ); z-index:2;}
.ui-dialog .ok-btn{width:50px; padding: 5px 20px; height:34px; border-radius:10px; border: 1px #999 solid; font-size: 0.8em;}
.ui-dialog .cancel-btn{float:left; margin: 8px 0 0 10px; width:50px; height:34px; border-radius:10px; border: 1px #999 solid;}
.ui-dialog .ok-btn:hover{background-color: #ddd; cursor: pointer;}
.ui-dialog .triangle4{position: absolute; display:inline-block; width:20px; height:20px; background-color: #eee; box-shadow:0px 0px 20px rgba( 0, 0, 0, 0.7 );
	left:50%; bottom: 40px; margin-left:-10px;  z-index:1;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
 		 -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
}

a.btn {
	display: inline-block; text-align: center;
	color: #666;
	background-color: #eee;
	padding: 2px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	cursor: pointer;
	height: 40px; line-height: 40px;
}
a.btn:hover {background-color: #e3e3e3;	border-color: rgba(0,0,0,0.5);}
a.btn:active {background-color: #CCC;	border-color: rgba(0,0,0,0.9);}
/* red button */
a.btn.btn-red {padding: 2px 5px; background-color: #E48681;border-color: rgba(0,0,0,0.3);text-shadow: 0 1px 0 rgba(0,0,0,0.5);color: #FFF;}
a.btn.btn-red:hover {background-color: #DA4F49; border-color: rgba(0,0,0,0.5);}
a.btn.btn-red:active {background-color: #B32C24;border-color: rgba(0,0,0,0.9);}


/*-------------------------------------------*/
.outbox{border: 1px solid #e1e1e1; 
	-webkit-box-shadow: 0 0 3px #eeeeee, inset 0 0 3px #ffffff;
	-moz-box-shadow: 0 0 3px #eeeeee, inset 0 0 3px #ffffff;
	box-shadow: 0 0 3px #eeeeee, inset 0 0 3px #ffffff;
	background: #fbfbfb; border-radius: 3px;
}
.outbox .outbox-header{
	border-bottom: 1px solid #e1e1e1; padding: 5px 15px;
	background-color: #f9f9f7;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}
.outbox h3{margin: 0px; font-size: 16px; font-weight: bold; line-height: 32px; color: #333;}
.outbox .outbox—content{padding: 15px; border-bottom: solid 1px #e1e1e1;}
.outbox .outbox-foot{border-top: solid 1px #fff; padding: 5px 15px;	text-align: right; background: #f9f9f7; line-height: 32px;	color: #aaa;}

/*-------------------------------------------*/


.page-left{position: absolute; left:0; top:0; width:80px; height: 100%; background-color: #eee; z-index: 2; text-align: center;}
.main{background:url(../images/bg.png) no-repeat top center; height: 100%; text-align: center;}
.page-right{display:block; padding-left: 140px; height:100%; background-color: #f0f0f0;
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	-o-transform: scale(0.97);
	-m-transform: scale(0.97);
	transform: scale(0.97);
}

#unit-wraper{display: block; width: 96%; padding: 2%; text-align: center; }
.unit-item{display: inline-block; width: 32%; position: relative; height: 84px; cursor: pointer; color: #666;
	background-color: #EEF0EE; border-bottom: 1px #E0E4E0 solid; border-top: 1px #F5F6F5 solid; border-right: 1px #F5F6F5 solid; border-right: 1px #E0E4E0 solid;
}
.study_yes{background-color: #E78084}
.unit-item:hover{background-color: #2AB6E5; color: #fff;}
.unit-item .unit{text-align: center; font-size: 1.6em; font-weight: bold; text-shadow:0px 1px 2px #E0E4E0;}
.unit-item .unit-desc{display: inline-block;}
.unit-item .yesRate{display: block; height: 20px; text-align: right; margin-right: 10px;}
.unit-item .level{display: block; width: 70%; height: 20px; }


.word-detail{margin: 15px; text-align: left;}
#cpronounce{padding: 5px;}
#cmeaning{padding: 5px;}
#sentence li{margin: 20px 0;}


.score-wraper1{float:left; padding: 10px; width: 80px; height: 80px;}
.score-wraper2{float:left; padding: 10px; width: 150px; height: 150px;}
.score {width: 100%; height: 100%;}
.de .den, .de .dene, .de .denem, .de .deneme { position: absolute;  left: 50%; top: 50%; }
.de {
    position: relative; width: 94%; height: 94%; border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);    background-color: transparent;
}
.den {
    position: relative; width: 90%; height: 90%; margin: -45% 0 0 -45%;
    border-radius: 100%;    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .5), 0 2px 20px rgba(255, 255, 255, 1);    background: #df3341;
    background: -moz-linear-gradient(left, #df3341 0%, #d4f355 50%, #61c0ec 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#df3341), color-stop(50%,#d4f355), color-stop(100%,#61c0ec));
    background: -webkit-linear-gradient(left, #df3341 0%,#d4f355 50%,#61c0ec 100%);
    background: linear-gradient(to right, #df3341 0%,#d4f355 50%,#61c0ec 100%);
    position:relative;
}
.dene {
    width: 80%; height: 80%; margin: -40% 0 0 -40%;
    border-radius: 100%;    
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}
.denem {
    width: 88%; height: 88%; margin: -44% 0 0 -44%;
    border-radius: 100%;    background: #cbd5d6;
    background: -moz-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd5d6), color-stop(100%, #f2f6f5));
    background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}
.deneme {
	width: 80%; height: 40px; text-align: center;
	margin-left: -40%; margin-top: -20px;
    text-shadow: 1px 1px 1px white; 
    font-size: 28px; font-weight: bold; color:#9b59b6;
}


.main-menu{padding-top: 50px;}
.main-menu ul li{padding: 0; margin: 0;}
.main-menu ul{font-size: 0px; }
.main-menu li{font-size: 18px; background-color: #2AB6E5;}
.main-menu li:hover{background-color: #3C5A95;}
.main-menu .menu-item{display:inline-block; width: 140px; height: 100px; padding-top: 30px; border-left: 1px solid #F5F6F5; border-top: 1px solid #F5F6F5; border-right: 1px solid #E1E4E1; border-bottom: 1px solid #E1E4E1; cursor: pointer;}
.main-menu .menu-item .menu-text{display:block;}
.main-menu .row2 .menu-item{padding-top: 20px;}
.main-menu .row2 .menu-item .menu-text{margin-bottom: 5px;}
#wordunit{background-color: #E65E4E;}
#statistic{background-color: #FA8327;}
#setting{background-color: #FA9F06;}
#share{background-color: 0 30% 0 30%;}

#index .user-info{width: 100%; height: 100px; background-color: rgba(0, 0, 0, 0.5); text-align: center;}
#index .user-info li{display: inline-block; vertical-align: middle; margin-right: 10px;}
#index .user-info .avatar{width: 80px; height: 80px; margin-top: 10px; border-radius: 100%;}
#index .user-info li .p1{margin-top: 5px;}
#index .user-info .total-word{font-size: 2em; color: #fff;}
#index .word-info{background-color: rgba(255, 255, 255, 0.2); text-align: center; height: 100px;}
#index .word-info li{display: inline-block; vertical-align: middle; margin-right: 10px;}

.icon{display: inline-block; background-image: url(../images/main-menu.png); background-color: transparent; background-repeat: no-repeat; }
.i-statistic { width: 48px; height: 48px; background-position: 0 0; }
.i-word { width: 48px; height: 48px; background-position: 0 -147px; }
.i-setting { width: 48px; height: 48px; background-position: 0 -196px; }
.notebook { width: 48px; height: 48px; background-position: 0 -49px; }
.i-share { width: 48px; height: 48px; background-position: 0 -98px; }
